*{box-sizing: border-box;}
html{
  font-family: sans-serif;
  box-sizing: border-box;
}
img{max-width: 100%;}
h1,h2,h3,h4,h5,h6{margin-bottom: 0.3em;line-height: 1em;}
h2 {font-size: 40pt;}
p{
  font-size:14pt;
  font-weight: 300;
  line-height: 2em;
}

/* === HEADER === */
header,nav{
  background-color:#A62122;
  color: #fff;
}
header{
  height:calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
header div{
  width:200px;
  height:235px;
  margin: 0 auto;
  text-align:center;
}
header .background{
  width:100%;
  height:100%;
  background: 
    url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a62122' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"), 
    url('../img/Hero.jpeg');
  background-size: 40px, cover;
  background-attachment: fixed;
  background-repeat: repeat, no-repeat;
  opacity: 0.05;
  position: absolute;
  top:0;
  left:0;
}

nav{
  height: 64px;
  border-top: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 -20px 80px rgba(255,255,255,0.04), 0 3px 6px rgba(0,0,0,0.23);
}
nav a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul{
  height: 100%;
  max-width:840px;
  margin:0 auto;
  padding: 0;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
nav li{
  text-align: center;
  font-size: 9pt;
  line-height: 0.95em;
}
.navitem{
  margin:0 25px;
}
li#logo{
  transition: all 200ms ease;
  width: 0px;
  line-height:0;
  font-size:0;
}
.sticky{
  position:fixed;
  top:0;
  width:100%;
  z-index: 999;
}
.sticky + section{
  padding-top:64px;
}
.sticky li#logo{
  width:50px;
}

.mobilelogo{
  display: none;
  height:50px;
  margin:7px;
  left: -100px;
  position: relative;
  transition: left 200ms ease;
}
.sticky .mobilelogo{left:0;}

#burger{
  display:none;
  cursor:pointer;
  font-size: 20px;
  margin: 20px;
  float: right;
}

@media screen and (max-width: 600px) {
  #burger, .mobilelogo{display:inline-block;}
  li#logo{display:none;}
  nav ul{
    position:fixed;
    flex-direction: column;
    width:100%;
    left:0;
    top:0;
    background-color:rgba(166, 33, 34, 0.93);
    transition: height 0.5s, visibility 0s, opacity 0s;
    visibility: hidden;
    opacity: 0;
    height:0;
  }
  nav ul.active{
    visibility: visible;
    opacity: 1;
    height:100%;
  }
  nav li {
    font-weight: bold;
    font-size: 18pt;
    line-height: 1.7em;
    transition: 0.3s;
  }
  nav a{text-transform: capitalize;}
}

/* === BODY === */
section{
  position: relative;
}
/*
section:nth-of-type(odd){
  background:#eee;
  color:#444;
}
section:nth-of-type(even){
  background:#ddd;
  color:#444;
}
*/
section>div{
  padding-top: 4em;
  padding-bottom: 4em;
  margin: 0 auto;
  max-width:1280px;
}
section:first-of-type{
  background: firebrick;
  color: aquamarine;
}
#about polygon{fill:brown;}
section#work{background:brown;color:salmon;}
section#history{background: brown;color: azure;}
section#contact{background:#333;color:azure;}
#contact a{
  color:#fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
#contact i{
  display: inline-block;
  background-color: #F0BF0B;
  color: chocolate;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
}
#contact a:hover i {background: #ffff00;}
#contact ul{
  padding:0;
  list-style-type: none;
  columns: 2;
  font-size: 16pt;
}
@media screen and (max-width: 767px) {
  #contact ul{columns: 1;}
}

/* === Pepi Framework === */
.ps_row {
  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.ps_row::after, .ps_row::before {
  content: " ";
  display: table;
}
.ps_row::after {clear: both;}
div[class*="ps_col-"]{
  float:left;
  position: relative;
  min-height: 1px;
}
div[class*="ps_col-sm-"]{
  padding-left: 15px;
  padding-right: 15px;
}
div[class*="ps_col-md-"]{
  padding-left: 30px;
  padding-right: 30px;
}
div[class*="ps_col-lg-"]{
  padding-left: 50px;
  padding-right: 50px;
}
@media (min-width:768px) {
  div[class*="ps_col-"][class*="-12"]{width: 100%;}
  div[class*="ps_col-"][class*="-11"]{width: calc( (11/12) * 100%);}
  div[class*="ps_col-"][class*="-10"]{width: calc( (10/12) * 100%);}
  div[class*="ps_col-"][class*="-9"]{width: calc( (9/12) * 100%);}
  div[class*="ps_col-"][class*="-8"]{width: calc( (8/12) * 100%);}
  div[class*="ps_col-"][class*="-7"]{width: calc( (7/12) * 100%);}
  div[class*="ps_col-"][class*="-6"]{width: calc( (6/12) * 100%);}
  div[class*="ps_col-"][class*="-5"]{width: calc( (5/12) * 100%);}
  div[class*="ps_col-"][class*="-4"]{width: calc( (4/12) * 100%);}
  div[class*="ps_col-"][class*="-3"]{width: calc( (3/12) * 100%);}
  div[class*="ps_col-"][class*="-2"]{width: calc( (2/12) * 100%);}
  /*div[class*="ps_col-"][class*="-1"]{width: calc( (1/12) * 100%);}*/
}