*{box-sizing: border-box;}
html{
  font-family: sans-serif;
  box-sizing: border-box;
  background-color:#A62122;
}
img{max-width: 100%;}
h1,h2,h3,h4,h5,h6{margin-bottom: 0.3em;line-height: 1em;}
h1 {font-family: 'utopia-std', sans-serif; font-style: italic;}
h2 {font-size: 40pt;}
h3 {font-weight: 600;text-transform: uppercase;letter-spacing: 1px;}
p{
  font-family: 'Rubik', sans-serif;
  font-size:14pt;
  font-weight: 300;
  line-height: 2em;
}

::-webkit-scrollbar {background:none;width: 8px;}
::-webkit-scrollbar-track {background: #A62122;}
::-webkit-scrollbar-track:hover {}
::-webkit-scrollbar-thumb {background:#dadada;border-radius: 12px;border:2px solid #A62122;}
::-webkit-scrollbar-thumb:hover {}

/* === HEADER === */
header, nav{
  background-color:#A62122;
  color: #fff;
}
header{
  color:#fff;
  height:calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url(../img/Hero.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
header div{
  width:200px;
  height:235px;
  margin: 0 auto;
  text-align:center;
  position:relative;
}
header .background{
  width:100%;
  height:100%;
  background-color:rgba(166, 33, 34, 0.96);
  background-image: 
    url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a62122' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");/*, 
    url('../img/Hero.jpeg')*/
  background-size: 40px;/*, cover*/
  background-attachment: fixed;
  background-repeat: repeat;/*, no-repeat*/
  opacity: 0.95;
  position: absolute;
  top:0;
  left:0;
}
#muteYouTubeVideoPlayer{
  width:calc((16 / 9) * 100%);
  width: 100%;
  height:100%;
  position: fixed;
  top:0;
  left:-39%;
  left:0;
}

@media (min-aspect-ratio: 16/9) {
  #muteYouTubeVideoPlayer { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  #muteYouTubeVideoPlayer { width: 300%; left: -100%; }
}
@media handheld, only screen and (max-device-width: 480px) {
  #muteYouTubeVideoPlayer{display: none;}
}

nav{
  height: 64px;
  position: relative;
  border-top: 1px solid rgba(255,255,255,0.1);
  /*box-shadow: 0 -20px 80px rgba(255,255,255,0.04), 0 3px 6px rgba(0,0,0,0.23);*/
}
#navbar.sticky:after {
    background: radial-gradient(farthest-side at center -50%, #551415aa, #0000 70%);
    width: 100%;
    content: '';
    height: 30px;
    position: absolute;
    left: 0;
    bottom: -30px;
    transform: scaleX(1.7);
}
nav a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul{
  height: 100%;
  max-width:840px;
  margin:0 auto;
  padding: 0;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
nav li{
  text-align: center;
  font-size: 9pt;
  line-height: 0.95em;
}
.navitem:hover a{color:#bbb;cursor:pointer !important;}

.navitem{
  margin:0 25px;
}
li#logo{
  transition: width 200ms ease;
  width: 0px;
  line-height:0;
  font-size:0;
}
.sticky{
  position:fixed;
  top:0;
  width:100%;
  z-index: 999;
}
.sticky + section{
  padding-top:64px;
}
.sticky li#logo{
  width:50px;
}

.mobilelogo{
  display: none;
  height:50px;
  margin:7px;
  left: -100px;
  position: relative;
  transition: left 200ms ease;
}
.sticky .mobilelogo{left:0;}

#burger{
  display:none;
  cursor:pointer;
  font-size: 20px;
  margin: 20px;
  float: right;
}

#navlist{z-index: 99;}

@media screen and (max-width: 600px) {
  #burger, .mobilelogo{display:inline-block;}
  li#logo{display:none;}
  nav ul{
    position:fixed;
    flex-direction: column;
    width:100%;
    left:0;
    top:0;
    background-color:rgba(166, 33, 34, 0.93);
    transition: height 0.5s, visibility 0s, opacity 0s;
    visibility: hidden;
    opacity: 0;
    height:0;
  }
  nav ul.active{
    visibility: visible;
    opacity: 1;
    height:100%;
  }
  nav li {
    font-weight: 700;
    font-size: 18pt;
    line-height: 1.7em;
    transition: 0.3s;
  }
  nav a{text-transform: capitalize;}
}

/* === BODY === */
section{
  position: relative;
}
/*
section:nth-of-type(odd){
  background:#eee;
  color:#444;
}
section:nth-of-type(even){
  background:#ddd;
  color:#444;
}
*/
section>div{
  padding-top: 4em;
  padding-bottom: 4em;
  margin: 0 auto;
  max-width:1280px;
}
section:first-of-type{
  background: firebrick;
  color: aquamarine;
}
#about polygon{fill:#a62122;}
section#work{background:#a62122;color:salmon;}
section#history{background:#a62122;color: azure;}
section#contact{background:#333;color:azure;}

#timeline{
  padding:20px 0;
  margin:1em 0;
  position: relative;
  z-index: +1
}
#timeline h3{margin-top: 0;}
#timeline em{font-size:x-small;display:block;font-style: normal;}
#timeline:before {
    content: '';
    width: 2pt;
    height: 100%;
    position: absolute;
    background-color: #fbb03b;
    background: linear-gradient(to bottom, #fbb03b00, #fbb03b 5%, #fbb03b 95%, #fbb03b00);
    left: calc(50% - 1pt);
    top: 0;
}
#timeline li {
    position: relative;
    border: 2px solid #ed1c25;
    background-color: #512635;
    width: calc(50% - 8pt);
    padding: 16px;
    border-radius: 12px;
    list-style-position: outside;
}
@media (-webkit-min-device-pixel-ratio: 1) { #timeline li {width: calc(50% - 10pt);} }
#timeline li:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: #ed1c25;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    top: 19px;
    z-index: -1;
}
#timeline li:not(:first-of-type) {margin-top:-80px;}
@media screen and (orientation:portrait) {#timeline li:not(:first-of-type) {margin-top:-60px;}}
#timeline li:nth-of-type(odd) {
    margin-right: auto;
    direction: rtl;
}
#timeline li:nth-of-type(even) {
    margin-left: auto;
}
#timeline li:nth-of-type(odd):before {right: -9px;}
#timeline li:nth-of-type(even):before {left: -9px;}

#contact a{
  color:#fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
#contact i{
  display: inline-block;
  background-color: #F0BF0B;
  color: chocolate;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
}
#contact a:hover i {background: #ffff00;}
#contact ul{
  padding:0;
  list-style-type: none;
  columns: 2;
  font-size: 16pt;
}
@media screen and (max-width: 767px) {
  #contact ul{columns: 1;}
  #zomgchan {order:2;}
}

/* === Pepi Framework === */
.ps_row {
  position: relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.ps_row::after, .ps_row::before {
  /*
  content: '';
  display: table;
  */
}
.ps_row::after {clear: both;}
div[class*="ps_col-"]{
  float:left;
  position: relative;
  min-height: 1px;
  width: 100%;
}
div[class*="ps_col-sm-"]{
  padding-left: 15px;
  padding-right: 15px;
}
div[class*="ps_col-md-"]{
  padding-left: 30px;
  padding-right: 30px;
}
div[class*="ps_col-lg-"]{
  padding-left: 50px;
  padding-right: 50px;
}
div[class*="ps_col-"][class*="-12"]{width: 100%;}
@media (min-width:768px) {
  div[class*="ps_col-"][class*="-11"]{width: calc( (11/12) * 100%);}
  div[class*="ps_col-"][class*="-10"]{width: calc( (10/12) * 100%);}
  div[class*="ps_col-"][class*="-9"]{width: calc( (9/12) * 100%);}
  div[class*="ps_col-"][class*="-8"]{width: calc( (8/12) * 100%);}
  div[class*="ps_col-"][class*="-7"]{width: calc( (7/12) * 100%);}
  div[class*="ps_col-"][class*="-6"]{width: calc( (6/12) * 100%);}
  div[class*="ps_col-"][class*="-5"]{width: calc( (5/12) * 100%);}
  div[class*="ps_col-"][class*="-4"]{width: calc( (4/12) * 100%);}
  div[class*="ps_col-"][class*="-3"]{width: calc( (3/12) * 100%);}
  div[class*="ps_col-"][class*="-2"]{width: calc( (2/12) * 100%);}
  /*div[class*="ps_col-"][class*="-1"]{width: calc( (1/12) * 100%);}*/
}